<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsForms_revive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowsForms_revive.Properties.Settings>
            <setting name="STG_pathToManager" serializeAs="String">
                <value />
            </setting>
            <setting name="STG_multhithread" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="STG_brackets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STG_type" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="STG_pathToFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="STG_isPVP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="STG_location" serializeAs="String">
                <value>-800, -800</value>
            </setting>
            <setting name="STG_isDistance2D" serializeAs="String">
                <value>True</value>
            </setting>
        </WindowsForms_revive.Properties.Settings>
    </userSettings>
</configuration>